.selectionBox {
    background-color: #444;
    padding: 20px 25px 1px 25px;
    margin: 20px;
    border-radius: 10px;
    color: #fff;
    text-align: left;
    z-index: 1;
}

.selectionBox label {
    display: block;
    /* Ensures each label is on a new line */
    margin-bottom: 20px;
    cursor: pointer;
    color: #ececec;
}

.selectionBox input[type=radio] {
    margin-right: 10px;
    background-color: initial;
    /* appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid black;
    border-radius: 50%;
    background-color: black;
    position: relative; */
}

#selectionBoxes {
    font-weight: 300;
    position: absolute;
    z-index: 1;
    right: 30px;
    display: flex;
    flex-direction: column;
    display: inline-block;
    top: 50%;
    transform: translateY(-50%);
    /* Use only as much space as needed */
}